<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <span class="alert-inner--text">Verifique os seguintes campos:</span>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">×</span>
    </button>
    <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label for="userName">Nome</label>
        <%= form.text_field :name, class: 'form-control', id: 'userName', required: true %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="userEmail">Email</label>
        <%= form.email_field :email, class: 'form-control', id: 'userEmail', required: true %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="cbbKind">Tipo</label>
        <%= form.select(:kind, User.kinds.keys.map {|at| [User.human_enum_name(:kind, at), at]}, {}, { class: 'custom-select' }) %>
      </div>
    </div>
    <% unless user.persisted? %>
    <div class="col-md-6">
      <div class="form-group">
        <label for="userPassword">Senha</label>
        <%= form.password_field :password, class: 'form-control', id: 'userPassword', autocomplete: "new-password", required: true %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="userPasswordConfirmation">Confirmar senha</label>
        <%= form.password_field :password_confirmation, class: 'form-control', id: 'userPasswordConfirmation', autocomplete: "new-password", required: true %>
      </div>
    </div>
    <% end %>
  </div>
  <div class="row">
    <div class="col-md-12 text-right">
      <%= form.submit 'Salvar', class: 'btn btn-outline-success' %>
      <%= link_to 'Voltar', users_path, class: 'btn btn-outline-default' %>
    </div>
  </div>
<% end %>
