<div class="row">
  <div class="col">
    <div class="card shadow mt-4">
      <div class="card-header border-0">
        <h3 class="mb-0">Usuários</h3>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table id="datatable" class="table table-striped table-bordered dt-responsive nowrap" style="width:100%">
            <thead class="thead-light">
              <tr>
                <th scope="col">Nome</th>
                <th scope="col">Email</th>
                <th scope="col">Tipo</th>
                <th scope="col">#</th>
              </tr>
            </thead>
            <tbody>
              <% @users.each do |user| %>
                <tr>
                  <td><%= user.name %></td>
                  <td><%= user.email %></td>
                  <td><%= User.human_enum_name(:kind, user.kind) %></td>
                  <td>
                    <div class="btn-group" role="group" aria-label="Basic example">
                      <%= link_to edit_user_path(user), class: 'btn btn-icon btn-2 btn-outline-warning btn-sm', title: 'Editar' do %>
                        <span class="btn-inner--icon"><i class="fa fa-edit"></i></span>
                      <% end %>
                      <%= link_to user_path(user), class: 'btn btn-icon btn-2 btn-outline-danger btn-sm', title: 'Excluir', data: {confirm: 'Tem certeza?'}, method: :delete do %>
                        <span class="btn-inner--icon"><i class="fa fa-times"></i></span>
                      <% end %>
                    </div>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
      <div class="card-footer py-4 text-right">
        <%= link_to 'Cadastrar', new_user_path, class: 'btn btn-outline-success' %>
      </div>
    </div>
  </div>
</div>
