<% books.each do |book| %>
  <div class="col-md-4 col-sm-12">
    <div class="card mb-4">
      <img class="card-img-top" src="<%= book.image_url %>" alt="Card image cap" style="object-fit: none; width: 100%; height: 200px">
      <div class="card-body" style="height: 200px; overflow-y: scroll;">
        <h5 class="card-title"><%= book.title.truncate(30) %></h5>
        <p class="card-text" style="font-size: 13px"><%= ActionView::Base.full_sanitizer.sanitize(book.description)%></p>
      </div>
      <div class="card-footer">
        <div class="icons">
          <% if current_user.liked?(book) %>
            <i class="fas fa-star toogle" style="cursor: pointer;" data-id="<%= book.id %>" onclick="toogle_book(this)"></i>
          <% else %>
            <i class="far fa-star toogle" style="cursor: pointer;" data-id="<%= book.id %>" onclick="toogle_book(this)"></i>
          <% end %>
        </div>
        <span style="font-size: 12px" class="float-right"> <b>autor:</b> <%= book.author.truncate(30) %></span>
      </div>
    </div>
  </div>
<% end %>