<%= form_with(model: book, local: true) do |form| %>
  <% if book.errors.any? %>
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <span class="alert-inner--text">Verifique os seguintes campos:</span>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">×</span>
    </button>
    <ul>
      <% book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label>Título</label>
        <%= form.text_field :title, class: 'form-control', required: true %>
      </div>
    </div>
    <div class="col-md-12">
      <div class="form-group">
        <label>Descrição</label>
        <%= form.text_area :description, class: 'form-control', required: true %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Autor</label>
        <%= form.text_field :author, class: 'form-control', required: true %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Imagem (URL)</label>
        <%= form.text_field :image_url, class: 'form-control', required: true %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-right">
      <%= form.submit 'Salvar', class: 'btn btn-outline-success' %>
      <%= link_to 'Voltar', manage_books_path, class: 'btn btn-outline-default' %>
    </div>
  </div>
<% end %>
