<style type="text/css">
.card-footer {
  position: relative;
}
.icons {
  position: absolute;
  font-size: 22px;
  top: 10px;
}
</style>

<div class="row mt-4">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        Filtros
      </div>
      <div class="card-body collapse show" id="searchCollapse">
          <div class="row">
            <div class="col-md-3 form-group">
              <label class="form-control-label">Título</label>
              <input type="text" id="title" name="title" class="form-control" placeholder="título do livro" onkeyup="filter_books()">
            </div>
            <div class="col-md-3 form-group">
              <label class="form-control-label">Descrição</label>
              <input type="text" id="description" name="description" class="form-control" placeholder="descrição do livro" onkeyup="filter_books()">
            </div>
            <div class="col-md-3 form-group">
              <label class="form-control-label">Author</label>
              <input type="text" id="author" name="author" class="form-control" placeholder="autor do livro" onkeyup="filter_books()">
            </div>  
            <div class="col-md-3 form-group">
              <div class="form-group">
                <label for="cbbKind">Ordenação</label>
                <select class="custom-select" id="order" name="order" onchange="filter_books()">
                  <option value="asc">Título A-Z</option>
                  <option value="desc">Título Z-A</option>
                </select>
              </div>
            </div>  
          </div>
      </div>
    </div>
  </div>
</div>

<div class="row mt-4" id="books">
  <%= render 'book_list', books: @books %>
</div>

<script type="text/javascript">
  {
    function toogle_book(element){
      element = $(element);

      $.ajax({
        method: 'PUT',
        beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
        url: "/admin/books/"+ element.data("id") +"/toogle_like"
      }).done(function (resp) {
        if (resp.liked == true){
          $(element).removeClass('far').addClass('fas');
        }else{
          $(element).removeClass('fas').addClass('far');
        }
      });
    }

    function filter_books(){
      let title = $('#title').val();
      let description = $('#description').val();
      let author = $('#author').val();
      let order = $("#order").val();

      $.get( "/admin/books.js", { title: title, description: description, author: author, order: order });
    }
  }
</script>