<div class="row">
  <div class="col">
    <div class="card shadow mt-4">
      <div class="card-header border-0">
        <h3 class="mb-0">Cadastrar Livro</h3>
      </div>
      <div class="card-body">
        <%= render 'form', book: @book %>
      </div>
    </div>
  </div>
</div>