<div class="row justify-content-center">
  <div class="col-lg-5 col-md-7">
    <div class="card bg-secondary shadow border-0">
      <div class="card-body px-lg-5 py-lg-5">
        <div class="text-center text-muted mb-4">
          <h3>Login</h3>
        </div>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-group mb-3">
            <div class="input-group input-group-alternative">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="ni ni-email-83"></i></span>
              </div>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Email", required: true %>
            </div>
          </div>
          <div class="form-group">
            <div class="input-group input-group-alternative">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
              </div>
              <%= f.password_field :password, autocomplete: "current-password", placeholder: "Senha", class: "form-control", required: true %>
            </div>
          </div>
          <div class="text-center">
            <%= f.submit "Entrar", class: "btn btn-success my-4 btn-block" %>
            <%= link_to "Criar Conta", new_user_registration_path %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
